extends ./_layout.jade


block title
	title Сайт театра «Комедианты» | Главная

block content
	- var dw = locals.where({"post_name": "directors-word"}).value().pop()
	- var news = locals.where({"post_type": "post"}).last(6).value()

	#primary.content-area
		main#main.site-main(role='main')
			#playbill
				h3 Афиша
			// #playbill
			#newsblock
				h3 Новости
				each post, index in news
					article.news
						header.entry-header
							h3.entry-title
								a(href='#')!= post.post_title
						.content!= post.post_content
						footer.entry-footer
							a.newslink(href='#', title='Читать далее') Читать далее…
			// #newsblock
			#directors-word
				h3!= dw.post_title
				.content!= dw.post_content
			#test
				h3 Test
				ul
					each val, index in locals.where({"post_type": "press"}).value()
						li= index + ': ' + val.post_title
		// #main
	// #primary

	script.
		console.log('Hi!');
		console.log(directorsWord);