extends ./_layout.jade

block prepend scripts
	script(src="./js/vendor/jquery.fittext.js")

block title
	title Сайт театра «Комедианты» | Главная

block content
	- var dw = data.where({"post_name": "directors-word"}).value().pop()
	- var dwbg = data.where({"post_type":"attachment", "post_parent":dw.ID, "post_name":"background.png"}).value().pop()
	- if (dwbg)
		//- - var dwbg = dwbg.postmeta['_wp_attached_file']
		- var dwbg = 'background:url(' + dwbg.postmeta['_wp_attached_file'] + ') right bottom no-repeat; background-size: cover;'
	- var news = data.where({"post_type": "post"}).last(6).value().reverse()
	- var events = data.where({"post_type": "event"}).first(24).value()
	- var monthsA = ["Нулября","Января","Февраля","Марта","Апреля","Мая","Июня","Июля","Августа","Сентября","Октября","Ноября","Декабря"]


	#playbill
		.container
			h3.section-header
				a(href="playbill.html") Афиша

			each event in events
				- var parent = data.where({"post_title": event.post_title, "post_type": 'performance'}).value().pop()
				- if (parent)
					- var image = data.where({"post_parent": parent.ID, "post_type": 'attachment', "post_name":'playbill.jpg'}).value().pop()
				- if (image && image.postmeta && image.postmeta['_wp_attached_file'])
					- var image = 'background:url(' + image.postmeta['_wp_attached_file'] + ') right bottom no-repeat; background-size: contain;'
				- else
					- var image = 'background-color: black'
				- if(parent)
					- var author = parent.postmeta.author
				- if (moment().format('YYYY-MM-DD') == moment(event.postmeta.event_date).format('YYYY-MM-DD'))
					- var active = 'active'
				- else
					- var active = ''
				.event(style="#{image}", id="#{event.post_name}", class=active)
					.title-block
						p.author!= author
						p.title!= event.post_title
					.date-block
						p.date.day!= moment(event.postmeta.event_date).format('DD')
						p.date.month!= monthsA[moment(event.postmeta.event_date).format('MM')]
						p.date.weekday!= moment(event.postmeta.event_date).locale('ru').format('dddd')
						a(href="#").button-buy Купить билет
			.calendar
				a(href="#")
					i.fa.fa-chevron-left
				each item in events
					- if (moment().format('YYYY-MM-DD') == moment(item.postmeta.event_date).format('YYYY-MM-DD'))
						- var active = 'active'
					- else
						- var active = ''
					a(href="##{item.post_name}", class=active)
						.day= moment(item.postmeta.event_date).format('DD')
						.weekday= moment(item.postmeta.event_date).locale('ru').format('dd')
				a(href="#")
					i.fa.fa-chevron-right

		// .container
	// #playbill


	//- #newsblock
	//- 	.container

	//- 		h3.section-header Новости

	//- 		.articles
	//- 			each post, index in news
	//- 				article.news
	//- 					- var newsimage = data.where({"post_parent": post.ID, "post_type": 'attachment', "post_name":'featured.jpg'}).value().pop()
	//- 					- if (newsimage)
	//- 						.entry-image
	//- 							img(src="#{newsimage.postmeta['_wp_attached_file']}")
	//- 					.entry-content
	//- 						header.entry-header
	//- 							h3.entry-title
	//- 								a(href='#')!= post.post_title
	//- 						.content!= post.post_content.replace(/<img(.+?)>/g, '')
	//- 						footer.entry-footer
	//- 							a.readmore(href='#', title='Читать далее') Читать далее…

	//- 	//.container
	//- // #newsblock


	#directors-word
		.container(style="#{dwbg}")

			article.post
				header.entry-header
					h3.article-header!= dw.post_title
				.entry-content!= dw.post_content
				footer.entry-footer

		//.container
	// #directors-word