extends ./_layout.jade

block prepend scripts
	script(src="./js/vendor/jquery.fittext.js")

block title
	title Сайт театра «Комедианты» | Главная

block content
	- var events = data.where({"post_type": "event"}).value()
	- var monthsA = ["Нулября","Января","Февраля","Марта","Апреля","Мая","Июня","Июля","Августа","Сентября","Октября","Ноября","Декабря"]
	- var playbill = data.where({"post_name": "playbill"}).value().pop()
	- var playbillbg = data.where({"post_type":"attachment", "post_parent":playbill.ID, "post_name":"background.jpg"}).value().pop()
	- if (playbillbg)
		- var playbillbg = 'background:url(' + playbillbg.postmeta['_wp_attached_file'] + ') top center no-repeat; background-size: cover;'

	#playbill-page.page(style="#{playbillbg}")
		.container

			nav.secondary-navigation
				ul
					li
						a(href="#december").active Декабрь
					li
						a(href="#january") Январь
					li
						a(href="#child") Детские спектакли

			.content
				#december.section.active
					each event in events
						- if (moment(event.postmeta.event_date).format('MM') == 12)
							.event
								- var parent = data.where({"post_title": event.post_title, "post_type": 'performance'}).value().pop()
								- if (parent)
									- var author = parent.postmeta.author
									- var duration = parent.postmeta.duration
									- var rate = parent.postmeta.rate
								.date-block
									span.date.day!= moment(event.postmeta.event_date).format('D')
									span.date.weekday!= moment(event.postmeta.event_date).locale('ru').format('ddd')
								.title-block
									span.title
										a(href="#")!= event.post_title
									- if (author)
										span.author!= author
								.other
									if (rate)
										span.rate!= rate
								.meta
									if (duration)
										span.duration!= duration
										| ,
									span.start-time начало в 19:00
				#january.section
					each event in events
						- if (moment(event.postmeta.event_date).format('MM') == 01)
							.event
								- var parent = data.where({"post_title": event.post_title, "post_type": 'performance'}).value().pop()
								- if (parent)
									- var author = parent.postmeta.author
									- var duration = parent.postmeta.duration
									- var rate = parent.postmeta.rate
								.date-block
									span.date.day!= moment(event.postmeta.event_date).format('D')
									span.date.weekday!= moment(event.postmeta.event_date).locale('ru').format('ddd')
								.title-block
									span.title
										a(href="#")!= event.post_title
									- if (author)
										span.author!= author
								.other
									if (rate)
										span.rate!= rate
								.meta
									if (duration)
										span.duration!= duration
										| ,
									span.start-time начало в 19:00
				#child.section


		// .container
	// #playbill