extends ./_layout.jade

block prepend scripts
	script(src="./js/vendor/jquery.fittext.js")

block title
	title Сайт театра «Комедианты» | Главная

block content

	#troupe-page(style="#{troupebg}")
		.container

			nav.troupe-navigation
				ul
					li
						a(href="#actors").active Актеры
					li
						a(href="#cooperate") С нами сотрудничают
					li
						a(href="#management") Руководство
					li
						a(href="#theatricals") Постановочная часть
					li
						a(href="#administration") Административная часть

			.troupe-list
				#actors.section.active
					- var actors = data.where({"post_type": "person", "postmeta":{"instate":2}}).value()
					each actor in actors
						.person.director
							- var img = data.where({"post_type":"attachment", "post_parent":actor.ID, "post_name":"troupe.jpg"}).value().pop()
							.portret
								- if (img)
									img(src="#{img.postmeta['_wp_attached_file']}" width="100%" height="auto")
							.caption
								- if (actor.postmeta.grade)
									p.grade!= actor.postmeta.grade
								p.title!= actor.post_title
					- var actors = data.where({"post_type": "person", "postmeta":{"instate":3}}).value()
					each actor in actors
						.person
							- var img = data.where({"post_type":"attachment", "post_parent":actor.ID, "post_name":"troupe.jpg"}).value().pop()
							.portret
								- if (img)
									img(src="#{img.postmeta['_wp_attached_file']}" width="100%" height="auto")
							.caption
								- if (actor.postmeta.grade)
									p.grade!= actor.postmeta.grade
								p.title!= actor.post_title
					- var actors = data.where({"post_type": "person", "postmeta":{"instate":1}}).value()
					each actor in actors
						.person
							- var img = data.where({"post_type":"attachment", "post_parent":actor.ID, "post_name":"troupe.jpg"}).value().pop()
							.portret
								- if (img)
									img(src="#{img.postmeta['_wp_attached_file']}" width="100%" height="auto")
							.caption
								- if (actor.postmeta.grade)
									p.grade!= actor.postmeta.grade
								p.title!= actor.post_title

				#cooperate.section
					- var actors = data.where({"post_type": "person", "postmeta":{"instate":0}}).value()
					each actor in actors
						.person
							- var img = data.where({"post_type":"attachment", "post_parent":actor.ID, "post_name":"troupe.jpg"}).value().pop()
							.portret
								- if (img)
									img(src="#{img.postmeta['_wp_attached_file']}" width="100%" height="auto")
							.caption
								- if (actor.postmeta.grade)
									p.grade!= actor.postmeta.grade
								p.title!= actor.post_title

				#management.section
				#theatricals.section
				#administration.section


		// .container
	// #troupe